.App {
  text-align: center;
  font: 'copperplate';

}

.NavBar {
  display: inline;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




/* .Routes {
  position: fixed;
  top: 0;
  left: 0;
} */