body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.AlbumGrid {
  display: flex;
  display: inline-flex;
  flex-wrap: nowrap;
  flex-shrink: 3;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 50px 55px;
  maWidth: 150px;
}

.NavBar {
  display: inline;
  margin: 0px 0px 0px 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}