body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.AlbumGrid {
  display: flex;
  display: inline-flex;
  flex-wrap: nowrap;
  flex-shrink: 3;
  align-items: center;
  justify-content: center;
}

.NavBar {
  display: inline;
  font: 'copperplate';
}